.main-page {
  text-align: center;
  margin-top: 50px;
}

.button-container {
  margin-top: 30px;
}

button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
