.nav-bar {
  display: flex;
  gap: 30px;
  background-color: #FFFEFD;
  height: 70px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0;
}


.nav-bar a:hover {
color: black;
  border-bottom: 3px solid #fc8d4d;
}
