.notice_warp {
  max-width: 1000px;
  margin: 50px auto;

  h4 {
    text-align: center;
    font-weight: 500;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
  }

  .register_btn {
    text-align: right;
  }

  .important_text {
    background: #235f9a;
    font-size: 12px;
    border-radius: 30px;
    text-align: center;
    padding: 4px 8px;
    color: #fff;
  }

  /* .notice_list_box {
    &:first-child .notice_list_item {
      margin-top: 0;
    }
    &:last-child .notice_list_item {
      margin-bottom: 0;
    }
    .notice_list_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-items: center;
      margin: 24px 0;
      padding-bottom: 24px;
      border-bottom: 1px solid #e2e2e2;

      .list_title_box {
        display: flex;
        align-items: center;
        justify-content: left;
        justify-items: center;
        column-gap: 10px;
        width: 75%;

        .notice_list_title {
          font-size: 1.2rem;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  } */

  /* 탭 스타일 */
  .MuiTabs-flexContainer {
    .MuiButtonBase-root {
      font-size: 1rem;
    }
  }

  /* 페이지네이션 스타일 */
  .pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
    margin: 24px 0;
  }

  .MuiPagination-root {
    .MuiPagination-ul {
      justify-content: center;
      flex-wrap: nowrap;
      gap: 0;

      li:last-child {
        margin-left: 0;
      }

      .MuiPaginationItem-root {
        margin: 0;
      }

      .Mui-selected {
        background-color: #f5f5f5;
      }
    }
  }
}
